{% extends 'base.html' %}

 {% block content%}
    <h1> Latest News</h1>

    <main class="container" >
    <div class= "row">

      <section class="roww col-9">
      
 {% for fruit in full_post %}
 
 <main class="colu" style="border:1px solid #000; margin-bottom: 20px; padding:10px "> 

      

      
    {% if fruit.image %}
    <img src="{{ fruit.image.url }}" style="width: 100%; height: 350px; object-fit: cover;">
    {% endif  %}
    <a href= "{% url 'post_detail' slug=fruit.slug %}"><h4>{{fruit.title|truncatechars:60}} </h4></a>
    <hr>
    <h6>By{{fruit.author}} on {{fruit.created_on}}</h6>
    <p>{{fruit.body|truncatechars:150}}</p>
    <a href= "{% url 'post_detail' slug=fruit.slug %}">Read More</a>
   
    
   </main>
   {% endfor %}

 </section>
       
   <aside class="col-3">
      <h1>Sire widget</h1>
   </aside>
    

 

 </div>
 </main>
{% endblock%}

