{% extends 'base.html' %}

 {% block content%}
    <h1> Political News</h1>

    <section class="roww">
 {% for fruit in full_post %}
 
 <main  class="colu" style="border:1px solid #000; margin-bottom: 20px; padding:10px ">

      

      
    {% if fruit.image %}
    <img src="{{ fruit.image.url }}" style="width: 100%; height: 350px; object-fit: cover;">
    {% endif  %}
    <h2>{{fruit.title}} </h2>
    <h6>By{{fruit.author}} on {{abc.created_on}}</h6>
    <p>{{fruit.body}}</p>
    <a href= "#">Read More</a>
    <hr>
   

      
    

 </main>

 {% endfor %}
</section>
{% endblock%}

